.leaderboard {
  width: 100%;
  margin: 45px 0px 0px 0px;

  .playerCard {
    background-color: #e5c9c5;
    display: flex;
    padding: 15px 30px 15px 15px;
    width: 56%;
    margin: 15px auto 0px auto;
    justify-content: space-between;
    .informationCard {
      .playerName {
        margin: 0px 0px 10px 0px;
        color: #585251;
        text-transform: uppercase;
      }
      .date {
        color: #908a96;
      }
    }
    .country,
    .points {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #585251;
      text-transform: uppercase;
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      .deletePlayer,
      .addFivePoints,
      .removeFivePoints {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0px 5px;
        border: 0;
        cursor: pointer;
      }
      .deletePlayer {
        font-size: 12px;
        text-transform: uppercase;
        color: #585251;
      }
      .deletePlayer:hover,
      .addFivePoints:hover,
      .removeFivePoints:hover {
        background-color: #def4b3;
      }
    }
  }
}
